/* add CSS class and element and selectors here */

body {
  background-color:#000000;
}

h3 {
  font-size:300%;
  color:white;
}

.header1 {
font-size:100px;
  color:white;
  }
  
  p {
    color:;
  }
  
  